# 2

In [3]:
name = input('Enter your name:')
print('Hello,', name)

Enter your name:Artem
Hello, Artem

# 3

In [5]:
w = float(input('width: '))
l = float(input('length: '))
print('Artea is: ', w*l, 'm')

width: 6
length: 8
Artea is:  48.0

# 4

In [6]:
w = float(input('width(feet): '))
l = float(input('length(feet): '))
print('Artea is: ', w*l/43560, 'acres')

width(feet): 7765
length(feet): 8776
Artea is:  1564.408631772268 acres

# 5

In [20]:
liter_or_less = float(input('number of containers liter or less: '))
more_than_one_liter = float(input('number of containers more than one liter: '))
print('Your bottle depost is:', '{:.2f}'.format(liter_or_less * 0.1 + more_than_one_liter * 0.25), '$')

number of containers liter or less: 9
number of containers more than one liter: 9
Your bottle depost is: 3.15 $

# 6

In [21]:
cost_of_meal = float(input('Cost of meal: '))
fee = cost_of_meal * 0.17
tip = cost_of_meal * 0.18
print('fee:', '{:.2f}'.format(fee), '$')
print('tip:', '{:.2f}'.format(tip), '$')
print('total:', '{:.2f}'.format(tip + fee + cost_of_meal), '$')

Cost of meal: 65
fee: 11.05 $
tip: 11.70 $
total: 87.75 $

# 7

In [31]:
n = float(input('integer:'))
print('sum of the first n positive number:', '{:.0f}'.format((n * (n + 1))/2))

integer:90
sum of the first n positive number: 4095

# 8

In [33]:
widget = float(input('widget:'))
gizmos = float(input('gizmos:'))
print('Total weight:', '{:.0f}'.format(widget * 75 + gizmos * 112), 'grams')

widget:9
gizmos:9
Total: 1683 gram

# 9

In [41]:
deposit = float(input('Deposit:'))
a = [1, 2, 3]
for b in a:
    print('year', b, ':', '{:.2f}'.format(deposit*1.04**b))

Deposit:9
year 1 : 9.36
year 2 : 9.73
year 3 : 10.12

# 10

In [44]:
import math
a = int(input('a:'))
b = int(input('b:'))
print(a + b)
print(b - a)
print(a * b)
print(a // b)
print(a % b)
print(math.log10(a))
print(a ** b)

a:7
b:4
11
-3
28
1
3
0.8450980400142568
2401

# 11 ---

In [48]:
a_u = float(input('American units:'))
print('Canadian units:', a_u * 1.60934 / 3.78541)

American units:1
Canadian units: 0.42514285110463595

# 12

In [1]:
import math
l1 = float(input('latitude1: '))
g1 = float(input('longitude1: '))
l2 = float(input('latitude2: '))
g2 = float(input('longitude2: '))

print('Distance is:', 6371.01 * 
      math.acos(math.sin(math.radians(l1)) * 
                  math.sin(math.radians(l2)) + 
                  math.cos(math.radians(l1)) * 
                  math.cos(math.radians(l2)) * 
                  math.cos(math.radians(g1) - math.radians(g2))), 'km')

latitude1:29
longitude1:34
latitude2:33
longitude2:35
distance is: 454.86964058131855 km

# 13

In [12]:
cents = int(input('Cents: '))
t = cents // 200
t2 = cents % 200
l = t2 // 100
l2 = t2 % 100
q = l2 // 25
q2 = l2 % 25
d = q2 // 10
d2 = q2 % 10
n = d2//5
n2 = d2 % 5
p = n2 // 1
p2 = n2 % 1
print(' Toonies: ',t,'\n', 
      'Loonies: ',l,'\n',
      'Quarters:',q,'\n',
      'Dimes:',d,'\n',
      'Nickels:',n,'\n',
      'Pennies:',p)

Cents: 96577755645
 Toonies:  482888778
 Loonies:  0
 Quarters: 1
 Dimes: 2
 Nickels: 0
 Pennies: 0

# 14

In [13]:
f = float(input('Feet:'))
inc = float(input('Inches:'))
print(inc * 2.54 + f * 12 * 2.54)

Feet:6
Inches:6
198.12

# 15

In [17]:
f = float(input('Feet:'))
print('inches:', f * 12, '\n',
     'yards:', f / 3, '\n',
     'miles:', f * 0.000189394)

Feet:6534
inches: 78408.0
 yards: 2178.0
 miles: 1.2375003960000002

# 16

In [19]:
r = float(input('Radius:'))
print('Area:', math.pi * r ** 2)
print('Volume:', 4 / 3 * math.pi * r ** 3)

Radius:8
Area: 201.06192982974676
Volume: 2144.660584850632

# 17

In [6]:
water_heat_capacity = 4.186
electricity_price = 8.9
j_to_kwh = 2.777e-7

volume = float(input('amount of water in milliliters:'))
d_temp = float(input('temperature increase (degrees Celsius):'))

q = volume * d_temp * water_heat_capacity
print('that will require', q, 'Joules of energy.')
kwh = q * j_to_kwh
cost = kwh * electricity_price
print('That much energy will cost:', '{:.2f}'.format(cost), 'cents')

amount of water in milliliters:1000
temperature increase (degrees Celsius):1000
that will require 4186000.0 Joules of energy.
That much energy will cost: 10.35 cents

# 18

In [2]:
import math
r = float(input('Radius:'))
h = float(input('Height'))
print('Volume of cylinder:', '{:.1f}'.format(math.pi * r ** 2 * h))

Radius:7
Height5
Volume of cylinder: 769.7

# 19

In [9]:
from math import sqrt
gravity = 9.8
d = float(input('Height (in metres):'))
vf = sqrt(2 * gravity * d)
print('It will hit the ground at:', '{:.2f}'.format(vf), 'm/s')

Height (in metres):100000
It will hit the ground at: 1400.00 m/s

# 20

In [11]:
p = float(input('pressure (pascals):'))
v = float(input('volume (liters):'))
t = float(input('temperature (kelvins):'))
r = 8.314
print((p * v) / (r * t) / 1000)

pressure (pascals):20000000
volume (liters):12
temperature (kelvins):293
98.5220865992721

# 21

In [12]:
b = float(input('lenght of base:'))
h = float(input('height:'))
print('area of a triangle:', (b * h) / 2)

lenght of base:4
height:4
area of a triangle: 8.0

# 22

In [15]:
from math import sqrt
s1 = float(input('side1:'))
s2 = float(input('side2:'))
s3 = float(input('side3:'))
s = (s1 + s2 + s3) / 2
area = sqrt(s * 
            (s - s1) * 
            (s - s2) * 
            (s - s3))
print('Area of trangle is:', area)

side1:3
side2:4
side3:5
Area of trangle is: 6.0

# 23

In [17]:
import math
s = float(input('length of side:'))
n = float(input('number of sides:'))
area = (n * s ** 2) / 4 * math.tan(math.pi / n)
print('area of regular polygon is:', area)

length of side:7
number of sides:7
area of regular polygon is 41.29502356274558

# 24

In [20]:
d = float(input('days:'))
h = float(input('hours:'))
m = float(input('minutes:'))
s = float(input('seconds:'))
seconds = s + m * 60 + h * 60 * 60 + d * 60 * 60 * 24
print('seconds:', seconds)

days:365
hours:0
minutes:0
seconds:0
seconds: 31536000.0

# 25

In [44]:
s = float(input('seconds:'))
d2 = int(s // 86400)
d3 = s % 86400
h = int(d3 // 3600)
h2 = d2 % 3600
m = int(h2 // 60)
m2 = h2 % 60
sec = int(m2 // 60)
sec2 = m2 % 60
print(' days:', d2, '\n',
      'hours:', "{:02d}".format(h), '\n', 
      'minutes:', "{:02d}".format(m), '\n', 
      'seconds', "{:02d}".format(sec))

seconds:678567
 days: 7
 hours: 20
 minutes: 00
 seconds 00

# 26

In [45]:
import time
a = time.asctime()
print(a)

Wed Sep  9 14:08:23 2020

# 27

In [2]:
year = float(input('Year:'))
a = year % 19
b = year // 100
c = year % 100
d = b // 4
e = b % 4
f = (b + 8) // 25
g = (b - f + 1) // 3
h = (19 * a + b - d + 15) % 30
i = c // 4
k = c % 4
l = (32 + 2 * e + 2 * i - h - k) % 7
m = (a + 11 * h + 22 * l) // 451
month = (h + l - 7 * m + 114) // 31
day = 1 + ((h + l - 7 * m + 114) % 31)
print(month, day)

Year:2020
4.0 19.0

# 28

In [3]:
w = float(input('weigth (kg):'))
h = float(input('height (m):'))
bmi = w / (h * h)
print('BMI:', bmi)

weigth:55
height:1.75
BMI: 17.959183673469386

# 29

In [7]:
t = float(input('temperature (Celsius):'))
ws = float(input('Wind speed:(km per hour)'))
t_f = (t * 9 / 5) + 32
wci = 13.12 + 0.6215 * t_f - 11.37 * ws ** 0.16 + 0.3965 * t_f * ws ** 0.16
print('WCI:', '{:.0f}'.format(wci), 'Celsius')

temperature (Celsius):-47
Wind speed:(km per hour)90
WCI: -86 Celsius

# 30

In [3]:
t_c = float(input('Celsius:'))
t_f = (t_c * 9 / 5) + 32
t_k = t_c + 273.15
print('Fahrenheit:', t_f, 'Kelvin:', t_k)

Celsius:25
Fahrenheit: 77.0 Kelvin: 298.15

# 31

In [5]:
kp = float(input('kilopascals:'))
ppsi = kp / 6.895
mof = kp * 7.501
atm = kp / 101
print(' pounds per square inch:', ppsi, '\n',
     'millimeters of mercury:', mof, '\n',
     'atmospheres:', atm)

kilopascals:20
 pounds per square inch: 2.9006526468455403
 millimeters of mercury: 150.02
 atmospheres: 0.19801980198019803

# 32

In [31]:
l = list(str(input('input:')))
sl = []
for i in l:
    sl.append(int(i))
a = 0
for i in sl:
    a += i
print(a)

input:6986786
50

# 33

In [34]:
int1 = int(input('1:'))
int2 = int(input('2:'))
int3 = int(input('3:'))
minimum = min(int1, int2, int3)
maximum = max(int1, int2, int3)
middle = (int1 + int2 + int3) - minimum - maximum
print(minimum, middle, maximum)

1:7
2:5
3:3
3 5 7

# 34

In [39]:
rp = 3.49
dp = 3.49*0.4
nr = int(input('number of loaves of day regular price:'))
np = int(input('number of loaves of day old price:'))
print(' Regular price:', '{:.2f}'.format(rp * nr), '\n',
     'Discount price:', '{:.2f}'.format(dp * np), '\n',
     'Total price:', '{:.2f}'.format(rp * nr + dp * np))

number of loaves of day regular price:7
number of loaves of day old price:4
 Regular price: 24.43
 Discount price: 5.58
 Total price: 30.01

# 35

In [46]:
i = int(input('Integer:'))
if i % 2 == 0:
    print('odd number')
else:
    print('even number')

Integer:89
even number

# 36

In [44]:
h = float(input('Human years:'))
if h < 2:
    d = h * 10.5
else:
    d = 21 + (h - 2) * 4
print('Dog years:', d)

Human years:17
Dog years: 81.0

# 37

In [6]:
letter = input('Letter:')
if letter in ['a', 'e', 'i', 'o', 'u']:
    print('Vowel')
elif letter == y:
    print('sometimes y is a vowel, and sometimes y is a consonant')
else:
    print('Letter is consonant')

Letter:u
Vowel

# 38

In [3]:
n = int(input('Number of sides:'))
if n == 3:
    print('Triangle')
elif n == 4:
    print('Square')
elif n == 5:
    print('Pentagon')
elif n == 6:
    print('Hexagon')
elif n == 7:
    print('Heptagon')
elif n == 8:
    print('Octagon')
elif n == 9:
    print('Nonagon')
elif n == 10:
    print('Decagon')
else:
    print('Error')

Number of sides:5
pentagon

# 39

In [ ]:
a = input('Name of a month')
if a in ['januar', 'march', 'may', 'jule', 'august', 'october', 'december']:
    print('31 days')
elif a in ['april', 'june', 'september', 'november']:
    print('30 days')
elif a == 'februar':
    print('29, 28')

# 40

In [ ]:
s = int(input('Sound level'))
if s < 40:
    print('less quiet room')
elif s == 40:
    print('quiet room')
elif 40 < s < 70:
    print('between alarm clock and quiet room')
elif s == 70:
    print('alarm clock')
elif 70 < s < 106:
    print('between gas lawnmower and alarm clock')
elif s == 106:
    print('gas lawnmower')
elif 106 < s < 130:
    print('between jacknammer and gas lawnmower')
elif s == 130:
    print('jackhammer')
else:
    print('error')

# 41

In [4]:
a = float(input('lenth os a side a'))
b = float(input('lenth os a side b'))
c = float(input('lenth os a side c'))
if a == b == c:
    print('equilateral triangle')
elif a == b or b == c or c == a:
    print('isosceles triangle')
else:
    print('scalene triangle')

lenth os a side a8
lenth os a side b7
lenth os a side c6
scalene triangle

# 42

In [5]:
c4_freq = 261.63
d4_freq = 293.66
e4_freq = 329.63
f4_freq = 349.23
g4_freq = 392.00
a4_freq = 440.00
b4_freq = 493.88

name = input('enter:')
note = name[0]
octave = int(name[1])

if note == 'c':
    freq = c4_freq
elif note == 'd':
    freq = d4_freq
elif note == 'e':
    freq = e4_freq
elif note == 'f':
    freq = f4_freq
elif note == 'g':
    freq = g4_freq
elif note == 'a':
    freq = a4_freq
elif note == 'b':
    freq = b4_freq
else:
    print('error')
    quit()

freq = freq / 2 ** (4 - octave)
print('the frequency of', name, 'is', freq, 'hz')

enter:c4
the frequency of c4 is 261.63 hz

# 44

In [7]:
n = int(input('amount:'))
if n == 1:
    print('george washington')
elif n == 2:
    print('thomas jefferson')
elif n == 5:
    print('abraham lincoln')
elif n == 10:
    print('alexander hamilton')
elif n == 20:
    print('andrew jackson')
elif n == 50:
    print('ulysses s.grant')
elif n == 100:
    print('benjamin franklin')
else:
    print('error')

amount:60
error

# 45

In [ ]:
a = input('Date:')
if a == 'january 1':
    print('new years day')
elif a == 'july 1':
    print('canada day')
elif a == 'december 25':
    print('christmas day')
else:
    print('no holyday')

# 46

In [ ]:
p = input('position')
column = p[0]
row = int(p[1])
if (column in ['a', 'c', 'e', 'g']) and (row in [1, 3, 5, 7]):
    print('black')
else:
    print('white')

# 47

In [ ]:
m = input('Date:')
m2 = m.split()
m3 = m2[0]
if m3 in ['december', 'januar', 'februar']:
    print('winter')
elif m3 in ['march', 'atril', 'may']:
    print('spring')
elif m3 in ['june', 'jule', 'august']:
    print('summer')
elif m3 in ['september', 'october', 'november']:
    print('fall')
else:
    print('error')

# 48

In [ ]:
m = input('Date:')
m2 = m.split()
m3 = m2[0]
m4 = m2[1]
if (m3 == 'december' and m4 >= 22) or (m3 == 'january' and m4 <= 19)

# 49

In [ ]:
y = int(input('year:'))
y2 = y //

# 51

In [2]:
a = int(input('A:'))
b = int(input('B:'))
c = int(input('C:'))
d = b ** 2 - 4 * a * c
if d == 0:
    print('equation has one real root')
elif d < 0:
    print('equation does not have any real roots')
else:
    print('equation has two real roots')

A:7
B:4
C9
equation does not have any real roots

# 54

In [4]:
a = float(input('Rate:'))
b = 2400
c = a * b
if a == 0.0:
    print('unacceptable performance', c, '0$')
elif a == 0.4:
    print('acceptable performance', c, '$')
elif a >= 0.6:
    print('meritorious performance', c, '$')
else:
    print('error')

Rate:0.5
error

# 57

In [7]:
a = float(input('minutes:'))
b = float(input('sms:'))

if a <= 50 and b <= 50:
    bill = 15 + 0.44
    fee = 0.05 * bill
    total = bill + fee
    print(' Bill:', '{:.2f}'.format(bill), '\n',
         'Fee:', '{:.2f}'.format(fee), '\n',
         'Total:', '{:.2f}'.format(total))
elif a <= 50 and b > 50:
    bill = 15 + (b - 50) * 0.15 + 0.44
    fee = 0.05 * bill
    total = bill + fee
    print(' Bill:', '{:.2f}'.format(bill), '\n',
         'Fee:', '{:.2f}'.format(fee), '\n',
         'Total:', '{:.2f}'.format(total))
elif a > 50 and b > 50:
    bill = 15 + (a - 50) * 0.25 + (b - 50) * 0.15 + 0.44
    fee = 0.05 * bill
    total = bill + fee
    print(' Bill:', '{:.2f}'.format(bill), '\n',
         'Fee:', '{:.2f}'.format(fee), '\n',
         'Total:', '{:.2f}'.format(total))
else:
    print('error')

minutes:8
sms8
 Bill: 15.44
 Fee: 0.77
 Total: 16.21

# 58

In [9]:
a = int(input('year:'))
if a % 400 == 0:
    print('leap year')
elif a % 100 == 0:
    print('not a leap year')
elif a % 4 == 0:
    print('leap year')
else:
    print('not a leap year')

year1900
not a leap year

# 61

In [18]:
import re
a = input('enter number:')
b = str(re.search(r'\d+', a).group())

if len(a) == 6 and len(b) == 3:
    print('older style license plate')
elif len(a) == 7 and len (b) == 4:
    print('newer style license plate')

enter number:7654dfg
newer style license plate

# 62

In [72]:
import random
a = random.randint(0,37)
b = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36]
print(a)
if a in [0, 37]:
    print('green')
else:
    if a in b:
        print('Pay Red')
        if a % 2 == 0:
            print('Pay Even')
            if a <= 18:
                print('Pay 1 to 18')
            else:
                print('Pay 19 to 36')
        else:
            print('Pay Odd')
            if a <= 18:
                print('Pay 1 to 18')
            else:
                print('Pay 19 to 36')
    else:
        print('Pay Black')
        if a % 2 == 0:
            print('Pay Even')
            if a <= 18:
                print('Pay 1 to 18')
            else:
                print('Pay 19 to 36')
        else:
            print('Pay Odd')
            if a <= 18:
                print('Pay 1 to 18')
            else:
                print('Pay 19 to 36')

3
Pay Red
Pay Odd
Pay 1 to 18

In [171]:
import random
a = random.randint(0,37)
b = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36]
print(a)

def check_1():
    if a in b:
        print('Pay Red')
    else:
        print('Pay Black')
        
def check_2():
    if a % 2 == 0:
        print('Pay Even')
    else:
        print('Pay Odd')
        
def check_3():
    if a <= 18:
        print('Pay 1 to 18')
    else:
        print('Pay 19 to 36')
        
if a in [0, 37]:
    print('green')
else:
    check_1()
    check_2()
    check_3()

8
Pay Black
Pay Even
Pay 1 to 18

9